.idea/

# http://www.gnu.org/software/automake

Makefile.in
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap

# http://www.gnu.org/software/autoconf

autom4te.cache
config/autoscan.log
config/autoscan-*.log
config/aclocal.m4
config/compile
config/config.guess
config/config.h.in
config/config.log
config/config.status
config/config.sub
config/configure
config/configure.scan
config/depcomp
config/install-sh
config/missing
config/stamp-h1
config/ltmain.sh
config.status
config.log

# https://www.gnu.org/software/libtool/

/ltmain.sh

# http://www.gnu.org/software/texinfo

/texinfo.tex

# http://www.gnu.org/software/m4/

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

# Generated Makefile 
# (meta build system like autotools, 
# can automatically generate from config.status script
# (which is called by configure script))
Makefile

.deps/
.libs/
.dirstamp

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### specific files

INSTALL
aclocal.m4
apps/build/
configure

data/Notation.inc
data/Notation2.inc
data/Notation3.inc
fluxml/FluxMLUnicodeConstants.cc
fluxml/FluxMLUnicodeConstants.h
fluxml/MMUnicodeConstants.cc
fluxml/MMUnicodeConstants.h
fluxml_config.h
fluxml_config.h.in
fmllint
libtool
readFluxMLModel
stamp-h1
symbolicmath/ExprParser.cc
symbolicmath/ExprScannerMM.inc
